[Desktop Entry]
Version=1.0
Type=Application
Name=Event Recorder
Icon=io.github.FedericoCalzoni.EventRecorder
Exec=/app/bin/EventRecorder.py
Terminal=false
Categories=Utility;
